<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @unit.scout_type %>
</p>

<p>
  <b>Number:</b>
  <%= @unit.number %>
</p>

<p>
  <b>Group:</b>
  <%= @unit.group %>
</p>

<p>
  <b>Sponsor name:</b>
  <%= @unit.sponsor_name %>
</p>

<p>
  <b>City:</b>
  <%= @unit.city %>
</p>

<p>
  <b>State:</b>
  <%= @unit.state %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
